.addMargin {
 margin: 20px 30px;
}

.form-control-feedback {
  top:  0px;
  right: 15px;
  }

.text-header {
    text-align: center;
    text-align: -webkit-center;
    font-size: 2.5em;
    padding: 15px;
    font-family: 'Helvetica', Arial, sans-serif;
}
