.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn-donate{
    background-color:#00b0f0;
    color: white;
    transition: 0.3s all;
}

.btn-donate:hover, .btn-donate:focus, .btn-donate:active{
    background-color: #008ec2;
    color: white
}

/* START Navbar Styles */
.navbar-default{
    background-color: #00b0f0;
    border:0px;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: bold; 
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: #f0f0f0
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: white;
    border-color: #00b0f0;
}

.navbar-default .navbar-toggle:focus .icon-bar,.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #00b0f0;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-default .navbar-nav>li>a{
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav>li:hover>a, .navbar-default .navbar-brand:hover{
    color: #00b0f0;
    background-color: white;
}
/* END Navbar Styles */

/* START Footer Styles */
footer{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #2a2730;
    color: white;
}
/* END Footer Styles */

/* START Landing Page Styles */

#landing-page{
    background: linear-gradient(0deg, #008ec2, white);
    padding-bottom: 50px;
    min-height: calc(100vh - 180px);
    margin-top: -20px;
    padding-top: 20px;
}

#landing-page #donate-button-conainer{
    margin-top: 20px;
    text-transform: capitalize;
}

/* End Landing Page Styles */

/* START Form Styles */

#donation-form .has-error{
    background-color: #f2dede;
    color: #2a2730;   
}


/* END Form Styles */

/* Start thankyou form Styles */

.green svg{
    color: green;
}

svg.fa-spin{
    font-size: 40px;
}

.svg-spin svg.fa-spin{
    animation: spin 1s linear infinite; 
}

@-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg);
    }
  }

/* End Thankyou Form styles */

/* Start Media Queries */
@media (min-width: 768px){
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
        transition: 0.3s all;
    }
    #landing-page .landing-text{
        margin-top: 150px;
    }
}

.text-center {
    text-align: center; 
}